html {
    background: #ecf1ec;
    padding: 10px;
}

body {
    max-width: 650px;
    margin: 1rem auto;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
    background: #fdfdfd;
    padding: 25px 30px 15px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

body *:first-child {
    margin-top: 0;
}

h1, h2, h3, h4 {
    margin: 0.8em 0 0.5em;
}

h2 {
    border-bottom: 1px solid #ccc;
}

h3 {
    font-style: italic;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}

hr {
    margin: 2rem -30px;
    height: 1px;
    background-color: #ccc;
    border: none;
    border-color: #ccc;
    color: #ccc;
}

.center {
    text-align: center;
    text-indent: 0;
}

.right {
    text-align: right;
}

.centred {
    text-align: center;
    text-indent: 0;
}

.image-right {
    float: right;
    margin: 0 0px 10px 10px;
}

.image-left {
    float: left;
    margin: 0 10px 10px 0px;
}

a {
    color: #688079;
}

a:hover {
    color: #9bb1aa;
}

pre {
    margin-right: -30px;
    padding-right: 20px;
    overflow-x: auto;
    font-size: 20px;
}

.no-indent {
    text-indent: 0;
}

.header-name {
    font-size: 30px;
    margin-bottom: 0;
}

.header-links {
    font-weight: normal;
    font-size: 20px;
    margin-top: 0;
}

.left-column {
    width: 47%;
    float: left;
}

.right-column {
    width: 47%;
    float: right;
}

.introduction {
    font-size: 24px;
    text-indent: 0;
    font-style: italic;
}

.homepage-links {
    text-align: center;
    padding: 10px;
    background: #ffffff;
    font-size: 24px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
}

.homepage-links a {
    display: block;
    margin: 10px;
}